/* create story river in two column layout */
.tc-story-river {
  display: flex;
  flex-wrap: wrap;
}

tc-menubar-wide > .tc-menubar-list, tc-menubar-wide > .tc-menubar-item, tc-menubar-wide > .tc-menubar-item > button {
	height: 42px !important;
}

@media (max-width: 500px) {
	.tc-tiddler-frame {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.tc-tiddler-frame{
		max-width: 49%; margin-right: 1%;
	}
}

@media (min-width: 1500px) {
	.tc-tiddler-frame{
		max-width: 32%; margin-right: 1%;
	}
}